* {
  margin: 0;
  padding: 0;
}
body{
    background-color: #02010a;
    font-family: 'Dancing Script', cursive;
}
#contenido{
  width:900px;
  margin: 0 auto;
}
header {
  width: 100%;
  background: #5b7989;
  border-radius: 15px 15px 0px 0px;
  height: 130px;
}
.ancho {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  height: 130px;
}
.title{
  width:50%;
  color: white;
  font-size: 23px;
  text-shadow: 2px 2px 2px #02010a;
  height: 130px;
  padding-top: 20px;
  box-sizing: border-box;
  display: block;
}
nav{
  width: 50%;
  height: 130px;
  text-align: right;
  padding-top: 40px;
  box-sizing: border-box;
  display: block;

}
nav ul li {
  display: inline-block;
}
nav ul li a {
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}
nav>ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color:Gray;
}
a:visited {
  color: red;
}
a:active {
  color: blue;
}
#fotos {
  box-sizing: border-box;
  background-color: #82c3a6;
  padding: 4em;
}
.secun{
  width: 33%;
  padding: 20px;
  box-sizing: border-box;
}
  #paisaje {
    height: 33%;
    display: flex;
    margin: 0 auto;
    padding: 1.5em;
  }
  #retrato {
    height: 33%;
    display: flex;
    margin: 0 auto;
    padding: 1.5em;
  }

  .imagen {
  box-shadow: 2px 2px 2px #02010a;
  width: 100%;
  height: 100%;
  }


  .imag{
    box-sizing: border-box;
    background-color: #d5c75f;
    border: 1px;
    display: flex;
    flex-flow: row wrap;
    padding: 4em;
    width: 100%;
  }
  footer{
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
    font-size: 2em;
    display: flex;
    text-align: center;
    position: relative;
    box-sizing: border-box;
  }
  footer h2 {
    text-align: center;
    margin: 0 auto;
  }
  .pie1{
    display: inline-block;
    box-sizing: border-box;
    font-size: 25px;
    width: 25%;
    text-align: justify;
    margin-bottom: 40px;
    float: left;
    padding-right: 15px;
  }
  .pie2{
    display: inline-block;
    box-sizing: border-box;
    font-size: 25px;
    width: 25%;
    text-align: justify;
    margin-bottom: 40px;
    float: left;
    padding-right: 15px;
  }
  .pie3{
    display:inline-block;
    box-sizing: border-box;
    font-size: 25px;
    width: 25%;
    text-align: justify;
    margin-bottom: 40px;
    float: left;
    padding-right: 15px;
  }
  .pie4{
    display: inline-block;
    box-sizing: border-box;
    font-size: 25px;
    width: 25%;
    text-align: justify;
    float: left;
    margin-bottom: 40px;
    float: left;
    padding-right: 15px;
  }
  .foot {
    display: inline-block;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 0;
    vertical-align: top;

  }
  .secun {
    margin: 0 auto;
    padding: 20px;
  }
  #titulo {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
  }
  .social {
    border-radius: 50%;
    width:50px;
  }


  @media screen and (min-width: 960px) {
    #contenido {
      width: 90%;
      margin: 0 auto;
    }
  }
@media screen and (max-width: 959px) {
  #contenido {
    width: 100%;
    margin: 0 auto;
  }
  header{
    height: 200px;
  }
  .ancho {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 250px;
    justify-content: center;
    width: 100%
  }

  .title{
    width: 100%;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  nav {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .imag {
    display: flex;
    flex-direction: column;
  }
  .secun {
    width:100%;
  }
  #central {
    width: 100%;
  }
  #paisaje {
    width: 100%;
    margin-bottom: 1em;
  }
  #retrato {
    width: 100%;
  }
.pie1{
  width: 100%;
  display: block;
}
.pie2 {
  width: 100%;
  display: block;
}
.pie3 {
  width: 100%;
  display: block;
}
.pie4 {
  width: 100%;
  display: block;
}
}
