* {
  margin: 0;
}
body{
    background-color: #02010a;
    font-family: 'Dancing Script', cursive;
}
#contenido{
  width:900px;
  margin: 0 auto;
}
header {
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 15px 15px 0px 0px;
  padding: 2em;
  font-size: 1.5em;
  display: block;
  text-align: left;
  position: relative;
}
.title {
  display: inline-block;
  max-width: 100%;
  width: 700px;
  text-align: left;
}
.menu-bar{
  display: inline-block;
  max-width: 100%;
  float: right;
}
#menu {
  color: white;
  text-decoration: none;
  display: flex;
}
#menu1 {
  padding-right: 1em;
}
#menu2 {
  padding-right: 1em;
}
#menu3 {
  padding-right: 1em;
}
nav>ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color:Gray;
}
a:visited {
  color: red;
}

#fotos {
  box-sizing: border-box;
  background-color: #82c3a6;
  padding: 4em;
}
#cerezo{
  box-shadow: 2px 2px 2px #02010a;
  display: flex;
  margin: 0 auto;
  width: 60%;
  }
  #paisaje {
    height: 50%;
    display: flex;
    margin: 0 auto;
    padding: 1.5em;
  }
  #retrato {
    height: 50%;
    display: flex;
    margin: 0 auto;
    padding: 1.5em;
  }
  #paisaje:hover{
    transform: rotate(10deg);
    transition-duration: 2s;
  }
  #retrato:hover {
    transform: translate(20px,-5px);
    transition-duration: 3s;
  }
  .imagen {
  box-shadow: 2px 2px 2px #02010a;
  width: 100%;
  transition: box-shadow, 2s;
  }
  .imagen:hover {
    box-shadow: 2px 2px 2px  #82c3a6;
  }

  .imag{
    box-sizing: border-box;
    background-color: #d5c75f;
    border: 1px;
    display: flex;
    flex-flow: row wrap;
    padding: 4em;
  }
  footer{
    margin: 0 auto;
    padding: 2em;
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
    font-size: 2em;
    display: block;
    text-align: center;
    position: relative;
  }
  footer h2 {
    text-align: center;
    margin: 0 auto;
  }
  .pie1{
    display: inline-block;
    box-sizing: content-box;
    max-width: 100%
    position: relative;
    font-size: 35px;
    width: 530px;
    text-align: justify;
    float: left;
    margin-bottom: 40px;
  }
  .pie2{
    display: inline-block;
    box-sizing: content-box;
    max-width: 100%
    position: relative;
    font-size: 35px;
    width: 530px;
    text-align: justify;
    float: left;
    margin-bottom: 40px;
  }
  .pie3{
    display:inline-block;
    box-sizing: content-box;
    max-width: 100%
    position: relative;
    font-size: 35px;
    width: 530px;
    text-align: justify;
    float: left;
    margin-bottom: 40px;
  }
  .pie4{
    display: inline-block;
    box-sizing: content-box;
    max-width: 100%
    flex-grow: 1;
    position: relative;
    font-size: 35px;
    width: 530px;
    text-align: justify;
    float: left;
    margin-bottom: 40px;
  }
  .foot {
    display: inline-block;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 0;
    vertical-align: top;

  }
  .secun {
    margin: 0 auto;
  }
  #titulo {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
  }
  .social {
    border-radius: 50%;
    width:50px;
  }


@media screen and (min-width: 960px) {
  #contenido {
    width: 90%;
    margin: 0 auto;
  }
}
@@media screen and (min-width: 480px) {
  #contenido {
    width: 100%;
    margin: 0 auto;
  }

  #central {
    width: 100%;
  }
  #paisaje {
    width: 100%;
    margin-bottom: 1em;
  }
  #retrato {
    width: 100%;
  }
  header{
    display:inline-block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
 #title{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: block;
    float: none;
  }
  #menu-bar{
    width: 100%;
    margin: 0 auto;
    display: block;
    float: none;
    text-align: center;
  }
  nav {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    position: relative;
  }
  h1 {
    text-align: center;
  }
.pie1{
  width: 100%;
  display: block;
}
.pie2 {
  width: 100%;
  display: block;
}
.pie3 {
  width: 100%;
  display: block;
}
.pie4 {
  width: 100%;
  display: block;
}
}
