header {
  background-color: #5b7989;
  border-radius: 15px 15px 0px 0px;
  position:inherit;
  margin: 0px;
  padding: 0px;
}
h1 {
  color: white;
  text-shadow: 2px #02010a;
  text-align: left;
}
nav{
  text-align: right;
  position: inherit;
  margin: 0px;
  padding: 0px;
}
